@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 1.5rem;
}

p {
	margin: 0;
	padding: 0;
}

.container {
	width: 1160px;
	padding: 0 20px;
	margin: 0 auto;
}



/* HEADING */

.site-logo:hover {
 opacity: 0.8;
}

.site-header {
	padding: 50px 0 85px 0;
	background-color: #eeeeee;
}

.basket,
.header-navigation {
	list-style-type: none;
}

.basket li::before {
	content: url('../img/img-general/cart-icon.svg');
	padding-right: 25px;
	vertical-align: middle;
}

.homepage-slider-nav ul,
.site-footer-social-icons ul {
	list-style-type: none;
}

